.comment-preloader {
  margin-top: 1rem;
  border: 1px solid #162439;
  padding: 1rem;
  .author-comment-preloader {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    div {
      width: 2.75rem;
      height: 1.25rem;
      position: relative;
      overflow: hidden;
    }
  }
  .body-comment-preloader {
    height: 40px;
    position: relative;
    overflow: hidden;
    margin-top: 1rem;
  }

  .comment-pre-loader-loading {
    width: 100%;
    height: 100%;
    background: linear-gradient(91deg, #090c10, #0d1117 15%, #0d1117, #090c10);
    transform: translateX(-100%);
    -webkit-animation: placeholder-shimmer 1.25s linear infinite;
    animation: placeholder-shimmer 1.25s linear infinite;
    will-change: transform;
  }

  @keyframes placeholder-shimmer {
    to {
      transform: translateX(100%);
    }
  }
}
