.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background: $darkBlue;
  transition: all 300ms ease-in-out;
  height: 68px;
  padding: 0rem 1rem;
  justify-content: center;
  @include breakpoint-up(large) {
    height: 73px;
  }
  display: flex;
  flex-direction: row;
  align-items: center;

  .header-container {
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: space-between;
    .header-flex {
      display: flex;
      align-items: center;

      h6 {
        margin-left: 0.5rem;
        font-size: 1rem;
      }

      .header-round {
        background: orangered;
        cursor: pointer;
        &.dark {
          background: $black;
        }
        padding: 0.25rem;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .header-search {
      form {
        display: flex;
        align-items: center;

        .MuiSvgIcon-root {
          margin-left: 1rem;
          cursor: pointer;
          &:hover {
            color: rgb(255, 180, 153);
          }
          &:active {
            color: orangered;
          }
        }
        .MuiInputBase-root {
          color: $white;
          padding: 0.25rem;
          margin-left: 1rem;

          .MuiOutlinedInput-input {
            padding: 0.25rem;
          }
        }
        .MuiInput-underline::before {
          border-bottom: 1px solid rgb(153, 153, 153);
        }
      }
    }
  }

  .header-menu {
    .menu-bar {
      margin-left: 1rem;
      ul {
        cursor: pointer;
        li {
          transition: all 200ms ease-in-out;
          width: 26px;
          height: 2px;
          background-color: $white;
          list-style: none;
          transform-origin: 3px 1px;
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }

        &.opened {
          li {
            &:nth-of-type(1) {
              transform: rotate(45deg);
            }
            &:nth-of-type(2) {
              opacity: 0;
            }
            &:nth-of-type(3) {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }

    .modal {
      position: fixed;
      transition: all 300ms ease-in-out;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      display: grid;
      place-items: center;
      background: transparent;

      &.fadeIn {
        animation: fadeIn 0.5s forwards;
      }
      &.fadeOut {
        animation: fadeOut 0.5s forwards;
      }

      &.noneModal {
        animation: noneModal 0s forwards;
      }

      .modal-container {
        border-radius: 4px;
        padding: 1rem;
        margin: 1rem;
        width: 100%;
        // height: 100%;
        justify-self: center;
        align-self: center;
        justify-content: center;
        align-content: center;
        align-items: center;
        // max-height: 400px;
        max-width: 500px;
        background-color: #090c10;
        border: 1px solid #162439;

        .modal-header {
          // justify-content: space-around;
          form {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            .MuiSvgIcon-root {
              // margin-left: 1rem;
              cursor: pointer;
              &:hover {
                color: rgb(255, 180, 153);
              }
              &:active {
                color: orangered;
              }
            }
            .MuiInputBase-root {
              width: 100%;
              color: $white;
              padding: 0.25rem;
              margin-left: 1rem;

              .MuiOutlinedInput-input {
                padding: 0.25rem;
              }
            }
            .MuiInput-underline::before {
              border-bottom: 1px solid rgb(153, 153, 153);
            }
          }
        }

        .modal-body {
          width: 100%;
          height: 100%;

          .sub-reddits-container {
            width: 100%;
            border: 1px solid #162439;
            border-radius: 4px;
            button {
              cursor: pointer;
              border: none;
              border-radius: 4px;
              font-size: 1rem;
              padding: 0.5rem;
              margin: 0.5rem;
              background: #162439;
              color: white;
              &:focus {
                // pointer-events: none;
                background: #0e1825;
                &:hover {
                  background: #0e1825;
                }
                cursor: unset;
              }
              &:hover {
                background: #20334e;
              }

              &:target {
                background: #111;
              }
            }
          }
        }

        &.opened {
          animation: slideIn 0.5s forwards;
        }

        &.closed {
          animation: slideOut 0.85s forwards;
        }
      }

      //modal container
      @keyframes slideIn {
        from {
          transform: translateY(-500%);
        }
        to {
          transform: translateY(0%);
        }
      }

      @keyframes slideOut {
        0% {
          transform: translateY(0%);
          opacity: 0.25;
        }
        100% {
          transform: translateY(-500%);
          opacity: 0;
        }
      }

      //modal background
      @keyframes fadeIn {
        to {
          background: rgba(0, 0, 0, 0.6);
        }
      }
      @keyframes fadeOut {
        from {
          background: rgba(0, 0, 0, 0.6);
        }
        to {
          visibility: hidden;
        }
      }

      //none
      @keyframes noneModal {
        0% {
          opacity: 0;
        }
        100% {
          visibility: hidden;
        }
      }
    }
  }
}
