.reddits {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  transition: all 300ms ease-in-out;
  width: 100%;
  max-width: 930px;

  .error {
    background: orangered;
    width: max-content;
    padding: 1rem;
    border-radius: 4px;
  }

  article {
    padding: 1.5rem;
    border: 1px solid #162439;
    border-radius: 4px;
    @include breakpoint-down(medium) {
      // padding: 0;
    }

    &:not(:first-child) {
      margin-top: 1rem;
    }

    .container {
      display: flex;

      .left {
        display: flex;
        margin-right: 1rem;
        flex-direction: column;
        align-items: center;

        p {
          margin: 1rem 0;
        }

        .icon {
          transform: scale(1.25);
          cursor: pointer;
        }

        .green {
          color: greenyellow;
        }
        .red {
          color: red;
        }
      }
      .right {
        h3 {
          margin-bottom: 2rem;
          max-width: 720px;
        }
        img {
          width: 100%;
        }
      }
    }
    .comments {
      .bottom-comments {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;

        h4 {
          color: #5389db;
        }
        .comments_icons {
          display: flex;
          .icon-comment {
            margin-right: 0.5rem;
            cursor: pointer;
            transform: all 300ms ease-in-out;
            &:active {
              color: orangered;
            }
          }
        }
      }
      div {
        .comment {
          padding: 1rem;
          margin: 1rem 0;
          border: 1px solid #162439;
          border-radius: 4px;
          display: flex;
          flex-direction: column;

          .comment-header {
            display: flex;
            justify-content: space-between;

            h4 {
              color: orangered;
            }

            &:not(:first-child) {
              margin-top: 1rem;
            }
          }
          .comment-paragraph {
            p {
              margin-top: 0.5rem;

              a {
                color: #5498ff;
              }
            }

            ul,
            ol {
              display: flex;
              flex-direction: column;
              margin-left: 1rem;
            }
          }
        }
      }
      @import "./comment-preloader";
    }
  }

  @import "./preloader-body";
}
