.sub-reddits {
  width: 37.5%;
  max-width: 348px;
  margin-right: 1rem;
  margin-top: 1rem;

  @include breakpoint-down(large) {
    width: 0;
  }

  .sub-reddits-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    button {
      cursor: pointer;
      border: none;
      border-radius: 4px;
      font-size: 1rem;
      padding: 0.5rem;
      margin: 0.5rem;
      background: #162439;
      color: white;
      &:focus {
        // pointer-events: none;
        background: #0e1825;
        &:hover {
          background: #0e1825;
        }
        cursor: unset;
      }
      &:hover {
        background: #20334e;
      }

      &:target {
        background: #111;
      }
    }
  }
}
